* {
  margin: 0;
  padding: 0;
}

.home-wrapper {
  text-align: center;
  padding: 0;
  min-width: 100%;
}

.green-section {
  background-color: #9da81a;
  padding: 160px 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.white-section {
  background-color: #fff;
  padding: 160px 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.left-align {
  text-align: left;
  margin: 15px;
}

.left-image, .right-image {
  max-width: 25%;
  margin-right: auto;
  margin-left: auto;
}

.subtitulo{
  max-width: 440px;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
  color: #ffff;
  margin: 15px;
  font-weight: 300px;
}
.subtitulo-terceiro {
  max-width: 440px;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
  margin: 15px;
  color: rgb(4, 4, 48);
  font-weight: 300px;
}

.titulo{
  text-align: center;
  color: #fff;
  font-weight: 900;
  margin: 15px;
}

.titulo-terceiro {
  text-align: center;
  color: rgb(4, 4, 48);
  font-weight: 900;
}

img {
  max-width: 95%;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0;
}

.text-container {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 991px) {
  .home-wrapper {
    padding: 0px;
  }

  .home-section-text-wrapper {
    padding-bottom: 65px;
  }

  .col {
    max-width: 100%;
    flex-basis: 100%;
  }
  
}
